.btn-back {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    left: 70px;
    top: 25px;

    color: #121214;
    background: #FFF;

    width: 30px;
    height: 30px;

    border-radius: 15px;
    padding: 25px;
    font-size: 26px;

    transition: all 0.3s;
}

.btn-back:hover {
    width: 80px;
}