#card {
    display: flex;
    flex-direction: column;
    
    width: 320px;
    height: 320px;

    margin: 20px;
    padding: 12px;

    border-top-left-radius: 18px;
    border-top-right-radius: 18px;

    background: #FFF;
    cursor: pointer;

    transition: all 0.3s;
}

#card:hover {
    width: 340px;
    height: 360px;
    margin: 0 20px;
}

#card .header {
    display: flex;
    justify-content: center;
}

#card .header h4 {
    width: 93%;
    text-align: center;
    color: #000;

    border-bottom: 2px solid #ccc;
    padding: 10px 0px;
}

#card .main {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#card .main img {
    width: 200px;
    
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}