#landing {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-direction: column;

    background: #121214;
}

#landing .header h3 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 130px;
    height: 130px;
    padding: 16px;

    border-radius: 180px;

    font-size: 17px;
    font-weight: 600;

    text-transform: uppercase;
    text-align: center;
    
    background: #1f1f24;  
    color: #FFF;
}


#landing .main {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    width: 720px;
}


#landing .main h1 {
    color: #FFF;
    font-size: 87px;
}

#landing .main p {
    color: #FFF;

    margin-top: 20px;
    text-align: center;

    font-size: 17px;
    line-height: 24px;
}

#landing .main .get-categories {
    padding: 14px;
    margin-top: 27px;

    border: 2px solid #FFF;
    color: #FFF;

    text-decoration: none;
    font-weight: 700;
    font-size: 14px;

    text-transform: uppercase;

    transition: all 0.3s;
}

#landing .main .get-categories:hover {
    transform: rotate(-5deg)
}

#landing .footer {
    width: 200px;
    display: flex;
    justify-content: center;
}

#landing .footer a {
    display: flex;
    justify-content: center;

    background: #FFF;

    margin-right: 20px;
    border-radius: 30px;

    padding: 7px;
    font-size: 19px;

    transition: all 0.4s;
}
 
#landing .footer .anticon {
    color: #121214;
}
